{% load staticfiles %}
{% load static %}

<!doctype html> 
<html>
<head>

    <title>
        {% block title%}


        {% endblock title%}
    </title>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/style.css?v=1.132"  />
    <script src="{% static 'js/bootstrap.js' %}" defer></script>




    {% block header %}



    {% endblock header %}
</head>


<body class="georgia" >
    <header>



    </header>


    
    {% block content %}
    <nav class="dt w-100 mw8 center"> 
            <div class="pa3">
         <nav>
         <div class="flex items-center justify-center pa0">
           <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'home' %}"><span>Home</span></a>
    {% if user.is_authenticated %}
       <p class= "f5 green pa0 bg-white fw4 dn dib-ns pv1 ph1">  You are logged in as: {{ user.username }}</p> 
       <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'auth_logout' %}"><span>Sign Out</span></a><div>
       
    {% else %}
        <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'auth_login' %}"><span>Sign In</span></a>
        <a class="f5 link grow ph2 pv2 mb2 dib white bg-gold" href="{% url 'registration_register' %}"><span>Sign Up</span></a></span></div>
    {% endif %}

        </nav> 
    {% endblock content %}


            {% comment %}
        
        </div>
       <nav class="dt w-100 mw8 center"> 
       <div class="dtc w2 v-mid pa3">
       <div class="dtc v-mid tr pa3">  {% endcomment %}



<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2018 <b class="ttu">Sole Exchange</b>, All Rights Reserved</small>
  <div class="tc mt3">
    <a href="" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    <a class="f6 dib ph2 link mid-gray dim" href="{% url 'home' %}"><span>Home</span></a>
    {% if user.is_authenticated %}
       <a class="f6 dib ph2 link mid-gray dim" href="{% url 'auth_logout' %}"><span>Sign Out</span></a>
       <p class= "dib">  You are logged in as: {{ user.username }}</p> 
    {% else %}
        <a class="f6 dib ph2 link mid-gray dim" href="{% url 'auth_login' %}"><span>Sign In</span></a>
        <a class="f6 dib ph2 link mid-gray dim" href="{% url 'registration_register' %}"><span>Sign Up</span></a></span>
    {% endif %}
  </div>
</footer>

    {% block footer %}{% endblock footer %}
</body>
</article>

